/* screen 控制大小 */
.animate-screen {
  height: 220px;
  width: 400px;
  border: solid 1px $gray-lighter;
}

.animate-screen-content {
  background-color: $gray-light;
}

.animate-screen-content-box  {


}
